.connect {
  margin-top: 50px;
  margin-bottom: 50px;

  &__padding {
    padding-bottom: 30px;
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding-bottom: 15px;
  }

  &__form {
    width: 35%;
    display: flex;
    flex-direction: column;

    &__item,
    &__item:focus {
      margin-bottom: 10px;
      border: 0;
      outline: 0;
      font: $h7-font;
      color: $form-color;
      padding: 10px 20px;
      text-align: left;
      background-color: $background-form;
    }

    &__item.hight150 {
      height: 150px;
    }
  }

  &__img {
    width: 65%;

    img {
      max-width: 100%;
      max-height: 370px;
    }
  }

  &__text {
    font: $h7-font;
    padding: 10px 40px;
    max-width: 390px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

@media (max-width: 1023px) {
  .connect {
    &__form {
      width: 50%;
    }
    &__img {
      width: 50%;
    }
  }
}

@media (max-width: 960px) {
  .connect {
    &__form {
      width: 100%;
    }
    &__img {
      display: none;
    }
  }
}
