@font-face {
  src: url("../fonts/TTHoves-Light.woff") format("woff");
  font-style: normal;
  font-family: "TTHoves";
  font-weight: 300;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-DemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SFDisplay";
  src: url("../fonts/SF\ Display-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "GothicA1";
  src: url("../fonts/GothicA1-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
