$primary-color: #333333;
$title-color: #bdbdbd;
$black-color: #000000;
$white-color: #ffffff;
$red-color: #c30000;
$gray-color: #f2f2f2;
$form-color: #8d8d8d;
$footer-color: #c8c8c8;
$background-form: #f3f3f3;
$background-light-gray: #fbfbfb;
$background-gray: #333333;
$background-footer: #2c2c2c;
$background-white: #ffffff;
$background-hover: #00ffff;

$hoves-font: "TTHoves", Arial, Helvetica, sans-serif;
$sfd-font: "SFDisplay", Arial, Helvetica, sans-serif;
$gothic-font: "GothicA1", Arial, Helvetica, sans-serif;
$opensans-font: "OpenSans", Arial, Helvetica, sans-serif;

$main-font: 400 12px $hoves-font;
$h1-font: 900 200px/1.2 $sfd-font;
$h2-font-light: 300 64px $hoves-font;
$h2-font-bold: 700 64px $hoves-font;
$h3-font: 400 22px/1.6 $hoves-font;
$h4-font: 300 16px/1.5 $hoves-font;
$h5-font: 700 16px/1.25 $hoves-font;
$h6-font: 500 14px/1.7 $hoves-font;
$h7-font: 400 14px/1.3 $hoves-font;
$h8-font: 400 12px/1.8 $opensans-font;
$h9-font: 400 12px $gothic-font;
$h10-font: 400 24px $hoves-font;
